<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <appSettings>
    <add key="WorkQueue"        value="1c-work-queue" />
    <add key="UserName"         value="1c_admin" />
    <add key="Password"         value="1c_password" />
    <add key="RequestUri"       value="http://hostname/1cbase/hs/queue_app/query" />
  </appSettings>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="ISettings" type="System.Collections.Generic.IDictionary`2[[System.String, mscorlib],[System.String, mscorlib]], mscorlib"/>
    <alias alias="Settings" type="System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[System.String, mscorlib]], mscorlib"/>
    
    <alias alias="IConnectionFactory" type="RabbitMQ.Client.IConnectionFactory, RabbitMQ.Client" />
    <alias alias="RabbitMQConnectionFactory" type="ProxyService.Services.RabbitMQConnectionFactory, ProxyService" />

    <alias alias="IQueueService" type="ProxyService.Services.IQueueService, ProxyService" />
    <alias alias="RabbitMQQueueService" type="ProxyService.Services.RabbitMQQueueService, ProxyService" />

    <container>
      
      <register type="ISettings" mapTo="Settings" name="connectionSettings">
        <constructor />
        <method name="Add">
          <param name="key" type="System.String" value="HostName" />
          <param name="value" type="System.String" value="krolik-01.ktc.local" />
        </method>
        <!--<method name="Add">
          <param name="key" type="System.String" value="Port"/>
          <param name="value" value="5672" typeConverter="VowelTypeConverter"/>
        </method>-->
      </register>
      
      <register type="IConnectionFactory" mapTo="RabbitMQConnectionFactory" name="connectionFactory">
        <constructor>
          <param name="fields">
            <dependency name="connectionSettings" />
          </param>
        </constructor>
        <property name="UserName" value="admin"/>
        <property name="Password" value="VsEK6Dv1arun"/>
      </register>
 
      <register type="IQueueService" mapTo="RabbitMQQueueService">
        <constructor>
          <param name="factory">
            <dependency name="connectionFactory" />
          </param>
        </constructor>

      </register>

    </container>

  </unity>
  
</configuration>